.add {
  background-color: rgb(156, 5, 5);
  border: 2px solid black;
  align-items: center;
  height: 80vh;
  width: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-section {
  height: 20%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.add-btn {
  width: 50px;
  background-color: rgb(255, 174, 0);
}
.remove-btn {
  width: 70px;
  background-color: rgb(255, 174, 0);
}
.done-btn{
  width: 100px;
  background-color: rgb(255, 174, 0);
}

.input-text {
  background-color: rgb(255, 174, 0);
}
.output-section {
  height: 80%;
  width: 100%;
  justify-content: start;
}
.todo-output {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
}
.child {
  width: 90%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

